/* Uploader widget */
.uploader_widget {
    margin: 1em 0;
}
.uploader_filelist {
    margin: 1em 0;
    table-layout: fixed;
    width: 100%;
}
.uploader_controls {}
th.uploader_filename, th.uploader_size, th.uploader_progress {
    text-align: center;
}
.uploader_row {}
.uploader_filename, .uploader_size, .uploader_progress {
    padding-right: 1em;
}
.uploader_filename {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.uploader_row th.uploader_filename {
    text-align: left;
}
.uploader_size {
    text-align: center;
    width: 5em;
}
.uploader_progress {
    text-align: center;
    width: 5em;
}
.uploader_progress progress {
    width: 5em;
}
.uploader_button {
    text-align: right;
    width: 3em;
}
.uploader_dropzone {
    border: 2px dashed #888;
    border-radius: 5px;
    color: #888;
    font-size: larger;
    padding: 1em;
    text-align: center;
}
.uploader_buttons {}
.uploader_buttons button > * {
    vertical-align: middle;
}
.uploader_pickfiles {}
.uploader_uploadfiles {}
