/* Uploader widget */
.uploader_widget {
    margin: 1em 0;
}
.uploader_filelist {
    margin: 1em 0;
}
.uploader_controls {}
th.uploader_filename, th.uploader_size, th.uploader_progress {
    text-align: center;
}
.uploader_row_template {
    display: none !important;
}
.uploader_row {}
.uploader_filename, .uploader_size, .uploader_progress {
    padding-right: 1em;
}
.uploader_filename {
    min-width: 12em;
}
.uploader_size {
    min-width: 5em;
    text-align: center;
}
.uploader_progress {
    min-width: 5em;
    text-align: right;
}
.uploader_buttons {}
.uploader_pickfiles {}
.uploader_uploadfiles {}
